body{
background-color: beige;
	background-size: cover;
	background-repeat: no-repeat;
	image-rendering: high-quality;







}
img:hover{
	cursor: pointer;
}
.food{
	position: absolute;
	right: 20px;
	width: 8%;
	top: 85px;
	
}
.cocktails{
	position: absolute;
	top: 110px;
	width: 8%;
	right: 180px;

	
	

	


}
.p{
	position: absolute;
	top: 240px;
	width: 8%;
	right: 180px;
	
	font-family: fantasy;
	


}
.Beverages{
	position: absolute;
	width: 8%;
	top: 88px;
	right: 330px;
}
.p1{
	position: absolute;
	top: 240px;
	width: 8%;
	right: 305px;
	
	font-family: fantasy;
	


}
@media screen {

}