body{
	background-image:url("Raseef.jpg") ;
	background-size:cover ;
	background-repeat: no-repeat;
	image-rendering: high-quality;

	height: 100%;

	background-color: dimgray;
	margin:0px;
	padding: 0px;
	background-position: center;



}

img:hover{
	cursor: pointer;
}
div.gallery {
	margin: 5px;
	border: 3px solid transparent;
	float: left;
	width: 180px;
}
div.gallery img {
	width: 100%;
	height: auto;
}

	

	

	








div.desc {
	font-family: "Arial" !important;
	padding: 0px;
	text-align: center;
	color: white;
	letter-spacing: -1px;


}
@media only screen and (max-width: 620px){
	div.gallery, div.gallery img{
		width: 90px;
		float: right;
		margin-top: 70px;

		border: transparent;
	}
	div.desc{
		font-family:"Arial";

		font-style: normal;
	}
	body{
		background-attachment: fixed;
		background-position: center center;
		background-size:cover ;
		width: unset;


	}
}